body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.6;
  color: #b8b8b8;
  width:100%;
  height:100%;
  margin: 0;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.p{
  color: #000;
}

.bd{
  border: 3px solid black;
  position: sticky;
}

.nav{
  display: flex;
  align-items: center;
}

.navbar-logo {
  padding-left: 100px;
}

.navbar-nav{
  display:flex;
  flex-direction:row;
  list-style:none
}

.navbar-nav .link{
  padding-right:0;
  padding-left:0
}
  
.link{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgba(0,0,0);
  margin: 10px;
}

.link:hover
{
  color:rgba(100, 100, 100, 0.4)
}

.site-background {
  background-position: center;
}

.site-background .site-title {
  font-size: 75px;
  line-height: 1.34;
  color: #fff;
}

.site-background .site-subtitle {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.page-center {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 1200px;
}

.center-background{
  align-items: center;
  display: flex;
  height: 800px;
}

.texto-center{
  position: relative;
  width: 100%;
  min-height: 1px;
  text-align: center;
}

.site-section {
  padding: 70px 0;
}

.site-section .site-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.site-section .site-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.1;
}

.btn-center{
  position: relative;
  display: inline-flex;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.espaço{
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.espaço .espaço2{
  margin-bottom: 15px;
}

.espaço3{
width: 10%;
}
.img{
  max-width:100%;
  height:auto;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
}

.row{
  flex: 0 0 41%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  border: 1px solid black;
  padding: 10px 25px;
}

.btn:hover{
  color: green;
}

.btn.btn-outline {
  border-color: transparent;
  background: none;
  border-radius: 0px;
  border-width: 2px;
  margin: 15px;
}


.btn .btn-outline-white:hover {
  background: rgba(0, 255, 0, 0.349);
  border-color: #fff;
  color: #000;
}
.form{
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0);
}
.site-footer-center{
  width: 100%;
}

.site-footer-bg{
  background: #222;
}
